body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1C5F37;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

.content {
    margin-left: 270px; /* Lebar sidebar + sedikit jarak */
    padding: 20px;
}

/* Efek hover untuk tautan di sidebar */
.sidebar ul li a:hover {
    background-color: whitesmoke;
}
/* Styles for Submenu */
.sidebar ul li.submenu .submenu-content {
    display: none;
    margin-left: 20px; /* Jarak submenu dari menu utama */
}

.sidebar ul li.submenu:hover .submenu-content {
    display: block;
}

/* Efek hover untuk submenu */
.sidebar ul li.submenu .submenu-content li a:hover {
    background-color: whitesmoke;
    color: #1C5F37;    
}
